compile/index.pug
doctype html
html
    - var page_title = "香菇製包農場"
    head
        title= page_title
        include _head.pug
        style.
            .site-doc-icon li {
                display: inline-block;
                vertical-align: middle;
                width: 110px;
                height: 105px;
                line-height: 25px;
                padding: 20px 0;
                margin-right: -1px;
                margin-bottom: -1px;
                border: 1px solid #e2e2e2;
                font-size: 14px;
                text-align: center;
                color: #666;
                transition: all .3s;
                -webkit-transition: all .3s;
            }
            .site-doc-icon li .layui-icon {
                display: inline-block;
                font-size: 36px;
            }
            .site-doc-icon li .doc-icon-name,
            .site-doc-icon li .doc-icon-code {
                color: #c2c2c2;
            }
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
            /* 这段样式只是用于演示 */
            #LAY-component-grid-speed-dial .layui-card-body {
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                font-size: 20px;
            }
            #LAY-component-grid-speed-dial .layui-card-body:hover {
                background-color: #FAFAFA;
            }
    body.layui-layout-body#index-body
        #LAY_app.layadmin-tabspage-none
            .layui-layout.layui-layout-admin
                //- 头部区域
                include _header.pug
                
                //- 主体内容
                #LAY_app_body.layui-body
                    .layadmin-tabsbody-item.layui-show
                        #LAY-component-grid-speed-dial.layui-fluid
                            .row
                                mixin indexLists(id, title, url, imgUrl)
                                    .col-4.p-0
                                        //- 填充内容
                                        .layui-card
                                            .layui-card-body
                                                .layui-anim
                                                    a.d-block(href= url)
                                                        img(src= imgUrl, alt= title, style='max-width: 100%;')
                                                        span.d-block.font-weight-bold= title
                                +indexLists('1', '攪拌裝填記錄', './stir.html', './static/images/pic1.png')
                                +indexLists('2', '滅菌記錄', './sterilization.html', './static/images/pic2.png')
                                +indexLists('3', '菌種進退貨資訊', './returns.html', './static/images/pic3.png')
                                +indexLists('4', '植菌記錄', 'phytophage.html', './static/images/pic4.png')
                                +indexLists('5', '出貨記錄', 'express.html', './static/images/pic5.png')
                                +indexLists('6', '歷史記錄', 'history.html', './static/images/pic6.png')
                                
                //- 辅助元素，一般用于移动设备下遮罩
                .layadmin-body-shade(layadmin-event='shade')
        script(src='./static/layui/layui/layui.js')
        script.
            layui.config({
                base: './static/layui/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index'], function () {
                var $ = layui.$
                    , admin = layui.admin
                    , element = layui.element;

                element.render('breadcrumb', 'breadcrumb');

                //监听窗口尺寸改变事件，控制宽度相同
                //- admin.resize(function () {
                //-     var cardBody = $('#LAY-component-grid-speed-dial .layui-card-body');
                //-     cardBody.height(cardBody.width())
                //- });
            });

index.html
<!DOCTYPE html>
<html>
  <head>
    <title>香菇製包農場</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./static/layui/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/admin.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/template.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/icomoon/style.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="./scripts/default/main.js"></script>
    <style>
      .site-doc-icon li {
          display: inline-block;
          vertical-align: middle;
          width: 110px;
          height: 105px;
          line-height: 25px;
          padding: 20px 0;
          margin-right: -1px;
          margin-bottom: -1px;
          border: 1px solid #e2e2e2;
          font-size: 14px;
          text-align: center;
          color: #666;
          transition: all .3s;
          -webkit-transition: all .3s;
      }
      .site-doc-icon li .layui-icon {
          display: inline-block;
          font-size: 36px;
      }
      .site-doc-icon li .doc-icon-name,
      .site-doc-icon li .doc-icon-code {
          color: #c2c2c2;
      }
      /* 这段样式只是用于演示 */
      #LAY-component-grid-list .demo-list .layui-card {
          height: 267px;
      }
      /* 这段样式只是用于演示 */
      #LAY-component-grid-speed-dial .layui-card-body {
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          font-size: 20px;
      }
      #LAY-component-grid-speed-dial .layui-card-body:hover {
          background-color: #FAFAFA;
      }
    </style>
  </head>
  <body class="layui-layout-body" id="index-body">
    <div class="layadmin-tabspage-none" id="LAY_app">
      <div class="layui-layout layui-layout-admin">
        <style>
          #index-body .layui-header .layui-layout-left,
          #index-body .layui-nav-item.layadmin-flexible {
              display: none;
          }
          body:not(#index-body) .layui-nav-item.layui-nav-fullscreen,
          body:not(#index-body) .layui-nav-item.layui-nav-member {
              display: none;
          }
        </style>
        <div class="layui-header">
          <ul class="layui-nav layui-layout-left p-0">
            <li class="layui-nav-item layadmin-flexible" lay-unselect=""><a href="./" layadmin-event="flexible" title="回首頁"><i class="icon-home layui-icon-shrink-left"></i></a></li>
          </ul>
          <ul class="layui-nav layui-layout-center text-center">
            <li class="layui-nav-item" lay-unselect=""><a href="javascript:;">
                <cite class="font-weight-bold">香菇製包農場</cite></a></li>
          </ul>
          <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
            <li class="layui-nav-item layui-hide-xs layui-nav-fullscreen" lay-unselect=""><a href="javascript:;" layadmin-event="fullscreen"><i class="layui-icon layui-icon-screen-full"></i></a></li>
            <li class="layui-nav-item layui-nav-member" lay-unselect=""><a href="javascript:;"><i class="icon-member"></i></a>
              <dl class="layui-nav-child">
                <dd><a lay-href="">基本資料</a></dd>
                <dd> <a lay-href="">修改密碼</a></dd>
                <hr>
                <dd style="text-align: center;"><a href="">退出</a></dd>
              </dl>
              <li class="layui-nav-item layui-hide-xs" lay-unselect=""><a href="javascript:;" layadmin-event=""><i class="layui-icon layui-icon-more-vertical"></i></a></li>
            </li>
            <li class="layui-nav-item layadmin-flexible" lay-unselect=""><a href="javascript:;" layadmin-event="flexible" title="側邊伸縮"><i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i></a></li>
          </ul>
        </div>
        <div class="layui-side layui-side-menu">
          <div class="layui-side-scroll">
            <div class="layui-logo" lay-href="home/console.html"><span>MES & 遠端監控系統</span></div>
            <ul class="layui-nav layui-nav-tree" id="LAY-system-side-menu" lay-shrink="all" lay-filter="layadmin-system-side-menu">
              <li class="layui-nav-item layui-nav-itemed" data-name="home"><a class="d-flex align-items-center" href="javascript:;" lay-tips="主頁" lay-direction="2"><i class="layui-icon layui-icon-home"></i>
                  <cite>主頁</cite></a>
                <dl class="layui-nav-child">
                  <dd class="layui-this" data-name="stir"><a href="stir.html">攪拌裝填記錄列表</a></dd>
                  <dd data-name="sterilization"><a href="sterilization.html">滅菌記錄</a></dd>
                  <dd data-name="returns"><a href="returns.html">菌種進退貨資訊</a></dd>
                  <dd data-name="phytophage"><a href="phytophage.html">植菌記錄</a></dd>
                  <dd data-name="express"><a href="express.html">出貨記錄</a></dd>
                  <dd data-name="history"><a href="history.html">歷史記錄</a></dd>
                </dl>
              </li>
            </ul>
          </div>
        </div>
        <div class="layui-body" id="LAY_app_body">
          <div class="layadmin-tabsbody-item layui-show">
            <div class="layui-fluid" id="LAY-component-grid-speed-dial">
              <div class="row">
                                <div class="col-4 p-0">
                                  <div class="layui-card">
                                    <div class="layui-card-body">
                                      <div class="layui-anim"><a class="d-block" href="./stir.html"><img src="./static/images/pic1.png" alt="攪拌裝填記錄" style="max-width: 100%;"><span class="d-block font-weight-bold">攪拌裝填記錄</span></a></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-4 p-0">
                                  <div class="layui-card">
                                    <div class="layui-card-body">
                                      <div class="layui-anim"><a class="d-block" href="./sterilization.html"><img src="./static/images/pic2.png" alt="滅菌記錄" style="max-width: 100%;"><span class="d-block font-weight-bold">滅菌記錄</span></a></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-4 p-0">
                                  <div class="layui-card">
                                    <div class="layui-card-body">
                                      <div class="layui-anim"><a class="d-block" href="./returns.html"><img src="./static/images/pic3.png" alt="菌種進退貨資訊" style="max-width: 100%;"><span class="d-block font-weight-bold">菌種進退貨資訊</span></a></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-4 p-0">
                                  <div class="layui-card">
                                    <div class="layui-card-body">
                                      <div class="layui-anim"><a class="d-block" href="phytophage.html"><img src="./static/images/pic4.png" alt="植菌記錄" style="max-width: 100%;"><span class="d-block font-weight-bold">植菌記錄</span></a></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-4 p-0">
                                  <div class="layui-card">
                                    <div class="layui-card-body">
                                      <div class="layui-anim"><a class="d-block" href="express.html"><img src="./static/images/pic5.png" alt="出貨記錄" style="max-width: 100%;"><span class="d-block font-weight-bold">出貨記錄</span></a></div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-4 p-0">
                                  <div class="layui-card">
                                    <div class="layui-card-body">
                                      <div class="layui-anim"><a class="d-block" href="history.html"><img src="./static/images/pic6.png" alt="歷史記錄" style="max-width: 100%;"><span class="d-block font-weight-bold">歷史記錄</span></a></div>
                                    </div>
                                  </div>
                                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
      </div>
    </div>
    <script src="./static/layui/layui/layui.js"></script>
    <script>
      layui.config({
          base: './static/layui/' //静态资源所在路径
      }).extend({
          index: 'lib/index' //主入口模块
      }).use(['index'], function () {
          var $ = layui.$
              , admin = layui.admin
              , element = layui.element;
      
          element.render('breadcrumb', 'breadcrumb');
      
          //监听窗口尺寸改变事件，控制宽度相同
          //- admin.resize(function () {
          //-     var cardBody = $('#LAY-component-grid-speed-dial .layui-card-body');
          //-     cardBody.height(cardBody.width())
          //- });
      });
    </script>
  </body>
</html>
