phytophage-modify.html
<!DOCTYPE html>
<html>
  <head>
    <title>編輯植種記錄表</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./static/layui/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/admin.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/template.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/icomoon/style.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="./scripts/default/main.js"></script>
    <style>
      /* 这段样式只是用于演示 */
      #LAY-component-grid-list .demo-list .layui-card {
          height: 267px;
      }
    </style>
  </head>
  <body class="layui-layout-body">
    <form class="w-100 h-100" method="post" action="./phytophage-log.html" autocomplete="off">
      <div class="layadmin-tabspage-none" id="LAY_app">
        <div class="layui-layout layui-layout-admin">
          <style>
            #index-body .layui-header .layui-layout-left,
            #index-body .layui-nav-item.layadmin-flexible {
                display: none;
            }
            body:not(#index-body) .layui-nav-item.layui-nav-fullscreen,
            body:not(#index-body) .layui-nav-item.layui-nav-member {
                display: none;
            }
          </style>
          <div class="layui-header">
            <ul class="layui-nav layui-layout-left p-0">
              <li class="layui-nav-item layadmin-flexible" lay-unselect=""><a href="./" layadmin-event="flexible" title="回首頁"><i class="icon-home layui-icon-shrink-left"></i></a></li>
            </ul>
            <ul class="layui-nav layui-layout-center text-center">
              <li class="layui-nav-item" lay-unselect=""><a href="javascript:;">
                  <cite class="font-weight-bold">編輯植種記錄表</cite></a></li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
              <li class="layui-nav-item layui-hide-xs layui-nav-fullscreen" lay-unselect=""><a href="javascript:;" layadmin-event="fullscreen"><i class="layui-icon layui-icon-screen-full"></i></a></li>
              <li class="layui-nav-item layui-nav-member" lay-unselect=""><a href="javascript:;"><i class="icon-member"></i></a>
                <dl class="layui-nav-child">
                  <dd><a lay-href="">基本資料</a></dd>
                  <dd> <a lay-href="">修改密碼</a></dd>
                  <hr>
                  <dd style="text-align: center;"><a href="">退出</a></dd>
                </dl>
                <li class="layui-nav-item layui-hide-xs" lay-unselect=""><a href="javascript:;" layadmin-event=""><i class="layui-icon layui-icon-more-vertical"></i></a></li>
              </li>
              <li class="layui-nav-item layadmin-flexible" lay-unselect=""><a href="javascript:;" layadmin-event="flexible" title="側邊伸縮"><i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i></a></li>
            </ul>
          </div>
          <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
              <div class="layui-logo" lay-href="home/console.html"><span>MES & 遠端監控系統</span></div>
              <ul class="layui-nav layui-nav-tree" id="LAY-system-side-menu" lay-shrink="all" lay-filter="layadmin-system-side-menu">
                <li class="layui-nav-item layui-nav-itemed" data-name="home"><a class="d-flex align-items-center" href="javascript:;" lay-tips="主頁" lay-direction="2"><i class="layui-icon layui-icon-home"></i>
                    <cite>主頁</cite></a>
                  <dl class="layui-nav-child">
                    <dd class="layui-this" data-name="stir"><a href="stir.html">攪拌裝填記錄列表</a></dd>
                    <dd data-name="sterilization"><a href="sterilization.html">滅菌記錄</a></dd>
                    <dd data-name="returns"><a href="returns.html">菌種進退貨資訊</a></dd>
                    <dd data-name="phytophage"><a href="phytophage.html">植菌記錄</a></dd>
                    <dd data-name="express"><a href="express.html">出貨記錄</a></dd>
                    <dd data-name="history"><a href="history.html">歷史記錄</a></dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
          <div class="layui-body" id="LAY_app_body" style="background: #fff1e9;">
            <div class="layadmin-tabsbody-item layui-show">
              <section class="form-section">
                <div class="form my-2" style="max-width: 700px; margin: auto;">
                  <div class="form-group row">
                    <label class="col-auto col-form-label" for="form-group1">植菌日期</label>
                    <div class="col">
                      <select class="form-control p-0" id="form-group1">
                        <option value=""></option>
                        <option value="10" selected>2019年09月10日</option>
                        <option value="8">2019年09月08日</option>
                        <option value="1">2019年09月01日</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-auto col-form-label" for="form-group2">植菌溫度</label>
                    <div class="form-group-group col row no-gutters p-0 border-0 align-items-center">
                      <div class="col border-0 row no-gutters px-2 py-0 align-items-center">
                        <input class="form-control text-center" id="form-group2" type="text" value="25.3">
                      </div>
                      <div class="col-auto border-0 row no-gutters px-2 py-0 align-items-center"><span>°C</span></div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-auto col-form-label" for="form-group3">植菌濕度</label>
                    <div class="form-group-group col row no-gutters p-0 border-0 align-items-center">
                      <div class="col border-0 row no-gutters px-2 py-0 align-items-center">
                        <input class="form-control text-center" id="form-group3" type="text" value="70">
                      </div>
                      <div class="col-auto border-0 row no-gutters px-2 py-0 align-items-center"><span>%</span></div>
                    </div>
                  </div>
                  <div class="form-group row" required>
                    <label class="col-auto col-form-label" for="form-group4">菌種來源</label>
                    <div class="col">
                      <select class="form-control p-0" id="form-group4">
                        <option value=""></option>
                        <option value="1" selected>菌種來源1</option>
                        <option value="2">菌種來源2</option>
                        <option value="3">菌種來源3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row" required>
                    <label class="col-auto col-form-label" for="form-group5">品種</label>
                    <div class="col">
                      <select class="form-control p-0" id="form-group5">
                        <option value=""></option>
                        <option value="1" selected>品種1</option>
                        <option value="2">品種2</option>
                        <option value="3">品種3</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row" required>
                    <label class="col-auto col-form-label" for="form-group6">菌種使用數量</label>
                    <div class="form-group-group col row no-gutters p-0 border-0 align-items-center">
                      <div class="col border-0 row no-gutters px-2 py-0 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group6" type="text" value="200">
                        </div>
                      </div>
                      <div class="col-auto border-0 row no-gutters px-2 py-0 align-items-center">
                        <div class="col"><span>/</span></div>
                      </div>
                      <div class="col border-0 row no-gutters px-2 py-0 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group6-2" type="text" value="150">
                        </div>
                      </div>
                      <div class="col-auto border-0 row no-gutters px-2 py-0 align-items-center">
                        <div class="col"><span>支</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row" required>
                    <label class="col-auto col-form-label" for="form-group7">植菌人員</label>
                    <div class="form-group-group col row no-gutters p-0 border-0 align-items-center">
                      <div class="col border-0 row no-gutters px-2 py-0 align-items-center">
                        <input class="form-control text-center" id="form-group7" type="text" value="ＸＸＸ">
                      </div>
                    </div>
                  </div>
                  <div class="form-group row" required>
                    <label class="col-auto col-form-label" for="form-group8">製做太空包數量</label>
                    <div class="form-group-group col row no-gutters p-0 border-0 align-items-center">
                      <div class="col border-0 row no-gutters px-2 py-0 align-items-center">
                        <input class="form-control text-center" id="form-group8" type="text" value="10000">
                      </div>
                      <div class="col-auto border-0 row no-gutters px-2 py-0 align-items-center"><span>包</span></div>
                    </div>
                  </div>
                  <div class="form-group row" required>
                    <label class="col-auto col-form-label" for="form-group9">提供客戶</label>
                    <div class="form-group-group col row no-gutters p-0 border-0 align-items-center">
                      <div class="col border-0 row no-gutters px-2 py-0 align-items-center">
                        <input class="form-control text-center" id="form-group9" type="text" value="ＸＸＸ">
                      </div>
                    </div>
                  </div>
                  <div class="form-group row" required>
                    <label class="col-auto col-form-label" for="form-group10">接種室</label>
                    <div class="col">
                      <select class="form-control p-0" id="form-group10">
                        <option value="" selected></option>
                        <option value="1">接種室1</option>
                        <option value="2">接種室2</option>
                        <option value="3">接種室3</option>
                      </select>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="layui-footer" style="left: 0;"><a class="layui-btn" href="./phytophage.html" lay-filter="component-form-demo1">上一頁</a>
            <button class="layui-btn layui-btn-primary" type="submit">儲存</button>
          </div>
          <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
      </div>
    </form>
    <script src="./static/layui/layui/layui.js"></script>
    <script>
      layui.config({
          base: './static/layui/' //静态资源所在路径
      }).extend({
          index: 'lib/index' //主入口模块
      }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
          var $ = layui.$
          , admin = layui.admin
          , form = layui.form
          , layer = layui.layer
          , laydate = layui.laydate
          , element = layui.element;
          form.render();
          laydate.render({
              elem: '#date'
          });
          form.on('select(log)', function (data) {
              location.href = './phytophage-log.html';
          });
      });
    </script>
  </body>
</html>

compile/phytophage-modify.pug
doctype html
html
    - var page_title = "編輯植種記錄表"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
    body.layui-layout-body
        form.w-100.h-100(method="post" action="./phytophage-log.html" autocomplete="off")
            #LAY_app.layadmin-tabspage-none
                .layui-layout.layui-layout-admin
                    //- 头部区域
                    include _header.pug

                    //- 主体内容
                    #LAY_app_body.layui-body(style="background: #fff1e9;")
                        .layadmin-tabsbody-item.layui-show
                            //- #LAY-component-grid-speed-dial.layui-fluid
                            //-     .layui-card
                            section.form-section
                                .form.my-2(style="max-width: 700px; margin: auto;")
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group1") 植菌日期
                                        .col
                                            select.form-control.p-0#form-group1
                                                option(value="")
                                                option(value='10' selected) 2019年09月10日
                                                option(value='8') 2019年09月08日
                                                option(value='1') 2019年09月01日
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group2") 植菌溫度
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                input#form-group2.form-control.text-center(type="text" value="25.3")
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                span °C
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group3") 植菌濕度
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                input#form-group3.form-control.text-center(type="text" value="70")
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                span %
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group4") 菌種來源
                                        .col
                                            select.form-control.p-0#form-group4
                                                option(value="")
                                                option(value='1' selected) 菌種來源1
                                                option(value='2') 菌種來源2
                                                option(value='3') 菌種來源3
                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group5") 品種
                                        .col
                                            select.form-control.p-0#form-group5
                                                option(value="")
                                                option(value='1' selected) 品種1
                                                option(value='2') 品種2
                                                option(value='3') 品種3

                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group6") 菌種使用數量
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group6.form-control.text-center(type="text" value="200")
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    span /
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group6-2.form-control.text-center(type="text" value="150")
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    span 支

                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group7") 植菌人員
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                input#form-group7.form-control.text-center(type="text" value="ＸＸＸ")

                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group8") 製做太空包數量
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                input#form-group8.form-control.text-center(type="text" value="10000")
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                span 包

                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group9") 提供客戶
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                input#form-group9.form-control.text-center(type="text" value="ＸＸＸ")

                                    div.form-group.row(required)
                                        label.col-auto.col-form-label(for="form-group10") 接種室
                                        .col
                                            select.form-control.p-0#form-group10
                                                option(value="" selected)
                                                option(value='1') 接種室1
                                                option(value='2') 接種室2
                                                option(value='3') 接種室3



                    .layui-footer(style='left: 0;')
                        a.layui-btn(href='./phytophage.html' lay-filter='component-form-demo1') 上一頁
                        button.layui-btn.layui-btn-primary(type='submit') 儲存
                    //- 辅助元素，一般用于移动设备下遮罩
                    .layadmin-body-shade(layadmin-event='shade')

        script(src='./static/layui/layui/layui.js')
        script.
            layui.config({
                base: './static/layui/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
                var $ = layui.$
                , admin = layui.admin
                , form = layui.form
                , layer = layui.layer
                , laydate = layui.laydate
                , element = layui.element;
                form.render();
                laydate.render({
                    elem: '#date'
                });
                form.on('select(log)', function (data) {
                    location.href = './phytophage-log.html';
                });
            });
