returns-log.html
<!DOCTYPE html>
<html>
  <head>
    <title>菌種進退貨資訊</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./static/layui/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/admin.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/template.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/icomoon/style.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="./scripts/default/main.js"></script>
    <style>
      /* 这段样式只是用于演示 */
      #LAY-component-grid-list .demo-list .layui-card {
          height: 267px;
      }
    </style>
  </head>
  <body class="layui-layout-body">
    <form class="w-100 h-100" method="post" action="./returns-modify.html" autocomplete="off">
      <div class="layadmin-tabspage-none" id="LAY_app">
        <div class="layui-layout layui-layout-admin">
          <style>
            #index-body .layui-header .layui-layout-left,
            #index-body .layui-nav-item.layadmin-flexible {
                display: none;
            }
            body:not(#index-body) .layui-nav-item.layui-nav-fullscreen,
            body:not(#index-body) .layui-nav-item.layui-nav-member {
                display: none;
            }
          </style>
          <div class="layui-header">
            <ul class="layui-nav layui-layout-left p-0">
              <li class="layui-nav-item layadmin-flexible" lay-unselect=""><a href="./" layadmin-event="flexible" title="回首頁"><i class="icon-home layui-icon-shrink-left"></i></a></li>
            </ul>
            <ul class="layui-nav layui-layout-center text-center">
              <li class="layui-nav-item" lay-unselect=""><a href="javascript:;">
                  <cite class="font-weight-bold">菌種進退貨資訊</cite></a></li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
              <li class="layui-nav-item layui-hide-xs layui-nav-fullscreen" lay-unselect=""><a href="javascript:;" layadmin-event="fullscreen"><i class="layui-icon layui-icon-screen-full"></i></a></li>
              <li class="layui-nav-item layui-nav-member" lay-unselect=""><a href="javascript:;"><i class="icon-member"></i></a>
                <dl class="layui-nav-child">
                  <dd><a lay-href="">基本資料</a></dd>
                  <dd> <a lay-href="">修改密碼</a></dd>
                  <hr>
                  <dd style="text-align: center;"><a href="">退出</a></dd>
                </dl>
                <li class="layui-nav-item layui-hide-xs" lay-unselect=""><a href="javascript:;" layadmin-event=""><i class="layui-icon layui-icon-more-vertical"></i></a></li>
              </li>
              <li class="layui-nav-item layadmin-flexible" lay-unselect=""><a href="javascript:;" layadmin-event="flexible" title="側邊伸縮"><i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i></a></li>
            </ul>
          </div>
          <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
              <div class="layui-logo" lay-href="home/console.html"><span>MES & 遠端監控系統</span></div>
              <ul class="layui-nav layui-nav-tree" id="LAY-system-side-menu" lay-shrink="all" lay-filter="layadmin-system-side-menu">
                <li class="layui-nav-item layui-nav-itemed" data-name="home"><a class="d-flex align-items-center" href="javascript:;" lay-tips="主頁" lay-direction="2"><i class="layui-icon layui-icon-home"></i>
                    <cite>主頁</cite></a>
                  <dl class="layui-nav-child">
                    <dd class="layui-this" data-name="stir"><a href="stir.html">攪拌裝填記錄列表</a></dd>
                    <dd data-name="sterilization"><a href="sterilization.html">滅菌記錄</a></dd>
                    <dd data-name="returns"><a href="returns.html">菌種進退貨資訊</a></dd>
                    <dd data-name="phytophage"><a href="phytophage.html">植菌記錄</a></dd>
                    <dd data-name="express"><a href="express.html">出貨記錄</a></dd>
                    <dd data-name="history"><a href="history.html">歷史記錄</a></dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
          <div class="layui-body" id="LAY_app_body" style="background: #daf0e7;">
            <div class="layadmin-tabsbody-item layui-show">
              <div class="table-responsive px-2 py-4">
                <table class="table table-bordered border-dark text-center">
                  <thead>
                    <tr>
                      <th class="border-dark font-weight-bold">儲存日期</th>
                      <th class="border-dark font-weight-bold">來源</th>
                      <th class="border-dark font-weight-bold">品種</th>
                      <th class="border-dark font-weight-bold">進貨數量</th>
                      <th class="border-dark font-weight-bold">退貨數量</th>
                    </tr>
                  </thead>
                  <tbody>
                                        <tr>
                                          <td class="border-dark">108/01/01</td>
                                          <td class="border-dark">阿興</td>
                                          <td class="border-dark">921</td>
                                          <td class="border-dark">300</td>
                                          <td class="border-dark">300</td>
                                        </tr>
                                        <tr>
                                          <td class="border-dark">108/02/02</td>
                                          <td class="border-dark">阿興</td>
                                          <td class="border-dark">921</td>
                                          <td class="border-dark">300</td>
                                          <td class="border-dark">300</td>
                                        </tr>
                                        <tr>
                                          <td class="border-dark">108/03/03</td>
                                          <td class="border-dark">阿興</td>
                                          <td class="border-dark">921</td>
                                          <td class="border-dark">300</td>
                                          <td class="border-dark">300</td>
                                        </tr>
                                        <tr>
                                          <td class="border-dark">108/04/04</td>
                                          <td class="border-dark">阿興</td>
                                          <td class="border-dark">921</td>
                                          <td class="border-dark">300</td>
                                          <td class="border-dark">300</td>
                                        </tr>
                                        <tr>
                                          <td class="border-dark">108/05/05</td>
                                          <td class="border-dark">阿興</td>
                                          <td class="border-dark">921</td>
                                          <td class="border-dark">300</td>
                                          <td class="border-dark">300</td>
                                        </tr>
                                        <tr>
                                          <td class="border-dark">108/06/06</td>
                                          <td class="border-dark">阿興</td>
                                          <td class="border-dark">921</td>
                                          <td class="border-dark">300</td>
                                          <td class="border-dark">300</td>
                                        </tr>
                                        <tr>
                                          <td class="border-dark">108/07/07</td>
                                          <td class="border-dark">阿興</td>
                                          <td class="border-dark">921</td>
                                          <td class="border-dark">300</td>
                                          <td class="border-dark">300</td>
                                        </tr>
                                        <tr>
                                          <td class="border-dark">108/08/08</td>
                                          <td class="border-dark">阿興</td>
                                          <td class="border-dark">921</td>
                                          <td class="border-dark">300</td>
                                          <td class="border-dark">300</td>
                                        </tr>
                                        <tr>
                                          <td class="border-dark">108/09/09</td>
                                          <td class="border-dark">阿興</td>
                                          <td class="border-dark">921</td>
                                          <td class="border-dark">300</td>
                                          <td class="border-dark">300</td>
                                        </tr>
                                        <tr>
                                          <td class="border-dark">108/10/10</td>
                                          <td class="border-dark">阿興</td>
                                          <td class="border-dark">921</td>
                                          <td class="border-dark">300</td>
                                          <td class="border-dark">300</td>
                                        </tr>
                                        <tr>
                                          <td class="border-dark">108/11/11</td>
                                          <td class="border-dark">阿興</td>
                                          <td class="border-dark">921</td>
                                          <td class="border-dark">300</td>
                                          <td class="border-dark">300</td>
                                        </tr>
                                        <tr>
                                          <td class="border-dark">108/12/12</td>
                                          <td class="border-dark">阿興</td>
                                          <td class="border-dark">921</td>
                                          <td class="border-dark">300</td>
                                          <td class="border-dark">300</td>
                                        </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="layui-footer" style="left: 0;"><a class="layui-btn" href="./returns.html" lay-filter="component-form-demo1">上一頁</a>
            <button class="layui-btn layui-btn-primary" type="submit">編輯</button>
          </div>
          <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
      </div>
    </form>
    <script src="./static/layui/layui/layui.js"></script>
    <script>
      layui.config({
          base: './static/layui/' //静态资源所在路径
          }).extend({
          index: 'lib/index' //主入口模块
          }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
          var $ = layui.$
              , admin = layui.admin
              , form = layui.form
              , layer = layui.layer
              , laydate = layui.laydate
              , element = layui.element;
          form.render();
      
          laydate.render({
              elem: '#start_time',
              type: 'time'
          });
          laydate.render({
              elem: '#end_time',
              type: 'time'
          });
      
          form.on('select(log)', function (data) {
              location.href = './stir-log.html';
          });
          });
    </script>
  </body>
</html>

compile/returns-log.pug
doctype html
html
    - var page_title = "菌種進退貨資訊"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
    body.layui-layout-body
        form.w-100.h-100(method="post" action="./returns-modify.html" autocomplete="off")
            #LAY_app.layadmin-tabspage-none
                .layui-layout.layui-layout-admin
                    //- 头部区域
                    include _header.pug

                    //- 主体内容
                    #LAY_app_body.layui-body(style="background: #daf0e7;")
                        .layadmin-tabsbody-item.layui-show
                            //- #LAY-component-grid-speed-dial.layui-fluid
                            //-     .layui-card
                            .table-responsive.px-2.py-4
                                table.table.table-bordered.border-dark.text-center
                                    thead
                                        tr
                                            th.border-dark.font-weight-bold 儲存日期
                                            th.border-dark.font-weight-bold 來源
                                            th.border-dark.font-weight-bold 品種
                                            th.border-dark.font-weight-bold 進貨數量
                                            th.border-dark.font-weight-bold 退貨數量
                                    tbody
                                        mixin returnsTable(date, from, type, purchase, purchase)
                                            tr
                                                td.border-dark= date
                                                td.border-dark= from
                                                td.border-dark= type
                                                td.border-dark= purchase
                                                td.border-dark= purchase
                                        +returnsTable("108/01/01", "阿興", "921", "1500", "300")
                                        +returnsTable("108/02/02", "阿興", "921", "1500", "300")
                                        +returnsTable("108/03/03", "阿興", "921", "1500", "300")
                                        +returnsTable("108/04/04", "阿興", "921", "1500", "300")
                                        +returnsTable("108/05/05", "阿興", "921", "1500", "300")
                                        +returnsTable("108/06/06", "阿興", "921", "1500", "300")
                                        +returnsTable("108/07/07", "阿興", "921", "1500", "300")
                                        +returnsTable("108/08/08", "阿興", "921", "1500", "300")
                                        +returnsTable("108/09/09", "阿興", "921", "1500", "300")
                                        +returnsTable("108/10/10", "阿興", "921", "1500", "300")
                                        +returnsTable("108/11/11", "阿興", "921", "1500", "300")
                                        +returnsTable("108/12/12", "阿興", "921", "1500", "300")


                    .layui-footer(style='left: 0;')
                        a.layui-btn(href='./returns.html' lay-filter='component-form-demo1') 上一頁
                        button.layui-btn.layui-btn-primary(type='submit') 編輯
                    //- 辅助元素，一般用于移动设备下遮罩
                    .layadmin-body-shade(layadmin-event='shade')

        script(src='./static/layui/layui/layui.js')
        script.
                layui.config({
                    base: './static/layui/' //静态资源所在路径
                    }).extend({
                    index: 'lib/index' //主入口模块
                    }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
                    var $ = layui.$
                        , admin = layui.admin
                        , form = layui.form
                        , layer = layui.layer
                        , laydate = layui.laydate
                        , element = layui.element;
                    form.render();

                    laydate.render({
                        elem: '#start_time',
                        type: 'time'
                    });
                    laydate.render({
                        elem: '#end_time',
                        type: 'time'
                    });

                    form.on('select(log)', function (data) {
                        location.href = './stir-log.html';
                    });
                    });
