stir-log.html
<!DOCTYPE html>
<html>
  <head>
    <title>攪拌裝填記錄表</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="./static/layui/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/admin.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/template.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/icomoon/style.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="./scripts/default/main.js"></script>
    <style>
      /* 这段样式只是用于演示 */
      #LAY-component-grid-list .demo-list .layui-card {
          height: 267px;
      }
    </style>
  </head>
  <body class="layui-layout-body">
    <form class="w-100 h-100" method="post" action="./stir-modify.html">
      <div class="layadmin-tabspage-none" id="LAY_app">
        <div class="layui-layout layui-layout-admin">
          <style>
            #index-body .layui-header .layui-layout-left,
            #index-body .layui-nav-item.layadmin-flexible {
                display: none;
            }
            body:not(#index-body) .layui-nav-item.layui-nav-fullscreen,
            body:not(#index-body) .layui-nav-item.layui-nav-member {
                display: none;
            }
          </style>
          <div class="layui-header">
            <ul class="layui-nav layui-layout-left p-0">
              <li class="layui-nav-item layadmin-flexible" lay-unselect=""><a href="./" layadmin-event="flexible" title="回首頁"><i class="icon-home layui-icon-shrink-left"></i></a></li>
            </ul>
            <ul class="layui-nav layui-layout-center text-center">
              <li class="layui-nav-item" lay-unselect=""><a href="javascript:;">
                  <cite class="font-weight-bold">攪拌裝填記錄表</cite></a></li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
              <li class="layui-nav-item layui-hide-xs layui-nav-fullscreen" lay-unselect=""><a href="javascript:;" layadmin-event="fullscreen"><i class="layui-icon layui-icon-screen-full"></i></a></li>
              <li class="layui-nav-item layui-nav-member" lay-unselect=""><a href="javascript:;"><i class="icon-member"></i></a>
                <dl class="layui-nav-child">
                  <dd><a lay-href="">基本資料</a></dd>
                  <dd> <a lay-href="">修改密碼</a></dd>
                  <hr>
                  <dd style="text-align: center;"><a href="">退出</a></dd>
                </dl>
                <li class="layui-nav-item layui-hide-xs" lay-unselect=""><a href="javascript:;" layadmin-event=""><i class="layui-icon layui-icon-more-vertical"></i></a></li>
              </li>
              <li class="layui-nav-item layadmin-flexible" lay-unselect=""><a href="javascript:;" layadmin-event="flexible" title="側邊伸縮"><i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i></a></li>
            </ul>
          </div>
          <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
              <div class="layui-logo" lay-href="home/console.html"><span>MES & 遠端監控系統</span></div>
              <ul class="layui-nav layui-nav-tree" id="LAY-system-side-menu" lay-shrink="all" lay-filter="layadmin-system-side-menu">
                <li class="layui-nav-item layui-nav-itemed" data-name="home"><a class="d-flex align-items-center" href="javascript:;" lay-tips="主頁" lay-direction="2"><i class="layui-icon layui-icon-home"></i>
                    <cite>主頁</cite></a>
                  <dl class="layui-nav-child">
                    <dd class="layui-this" data-name="stir"><a href="stir.html">攪拌裝填記錄列表</a></dd>
                    <dd data-name="sterilization"><a href="sterilization.html">滅菌記錄</a></dd>
                    <dd data-name="returns"><a href="returns.html">菌種進退貨資訊</a></dd>
                    <dd data-name="phytophage"><a href="phytophage.html">植菌記錄</a></dd>
                    <dd data-name="express"><a href="express.html">出貨記錄</a></dd>
                    <dd data-name="history"><a href="history.html">歷史記錄</a></dd>
                  </dl>
                </li>
              </ul>
            </div>
          </div>
          <div class="layui-body" id="LAY_app_body" style="background: #daf0e7;">
            <div class="layadmin-tabsbody-item layui-show">
              <section class="form-section">
                <div class="form my-2" style="max-width: 1000px; margin: auto;">
                  <div class="form-group row">
                    <label class="col-auto col-form-label" for="form-group1">日期</label>
                    <div class="col">
                      <input class="form-control" id="form-group2" type="text" value="108年01月01日" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-auto col-form-label" for="form-group2">天氣</label>
                    <div class="col">
                      <input class="form-control" id="form-group2" type="text" value="晴天" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-auto col-form-label" for="form-group3">溫溼度</label>
                    <div class="form-group-group col row no-gutters p-0 border-0 align-items-center">
                      <div class="col border-0 row no-gutters px-2 py-0 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group3" type="text" value="23.5" readonly>
                        </div>
                        <div class="col-auto"><span>°C</span></div>
                      </div>
                      <div class="col-auto border-0 row no-gutters px-2 py-0 align-items-center">
                        <div class="col"><span>/</span></div>
                      </div>
                      <div class="col border-0 row no-gutters px-2 py-0 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group3-2" type="text" value="72.04" readonly>
                        </div>
                        <div class="col-auto"><span>%</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-12 col-form-label text-left" for="form-group4">木屑濕度：%</label>
                    <div class="form-group-group col-12 row no-gutters p-0">
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group4" type="text" value="65.02" readonly>
                        </div>
                        <div class="col-auto"><span>%</span></div>
                      </div>
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group4-2" type="text" value="65.08" readonly>
                        </div>
                        <div class="col-auto"><span>%</span></div>
                      </div>
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group4-3" type="text" value="65.10" readonly>
                        </div>
                        <div class="col-auto"><span>%</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-12 col-form-label text-left" for="form-group5">木屑PH值：</label>
                    <div class="form-group-group col-12 row no-gutters p-0">
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group5" type="text" value="7.20" readonly>
                        </div>
                      </div>
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group5-2" type="text" value="7.14" readonly>
                        </div>
                      </div>
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group5-3" type="text" value="7.08" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-6 row no-gutters p-0 align-items-center">
                      <label class="col-auto col-form-label" for="form-group6">水分</label>
                      <div class="col">
                        <input class="form-control text-center" id="form-group6" type="text" value="514" readonly>
                      </div>
                    </div>
                    <div class="col-6 row no-gutters p-0 align-items-center">
                      <label class="col-auto col-form-label" for="form-group6-2">養分</label>
                      <div class="col">
                        <input class="form-control text-center" id="form-group6-2" type="text" value="70" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-12 p-0 d-flex justify-content-between align-items-center">
                      <label class="col-form-label border-right-0" for="form-group7">添加劑：</label>
                      <button class="add-form-group-btn ml-auto mr-2 d-none" type="button" data-button="add-form-group" data-target="#formGroup7">新增</button>
                    </div>
                                        <div class="form-group-group col-12 row no-gutters p-0" id="formGroup7">
                                          <div class="col-6 row no-gutters px-2 py-2 align-items-center">
                                            <div class="col row no-gutters px-2 py-0 align-items-center">
                                              <div class="col-auto"><span>1.</span></div>
                                              <div class="col">
                                                <input class="form-control" id="form-group7" type="text" value="米糠" readonly>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-6 row no-gutters px-2 py-2 align-items-center">
                                            <div class="col">
                                              <input class="form-control text-right" id="form-group7-2" type="text" value="80000" readonly>
                                            </div>
                                            <div class="col-auto"><span>公克 </span></div>
                                          </div>
                                        </div>
                                        <div class="form-group-group col-12 row no-gutters p-0" id="formGroup7">
                                          <div class="col-6 row no-gutters px-2 py-2 align-items-center">
                                            <div class="col row no-gutters px-2 py-0 align-items-center">
                                              <div class="col-auto"><span>2.</span></div>
                                              <div class="col">
                                                <input class="form-control" id="form-group7" type="text" value="玉米粉" readonly>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-6 row no-gutters px-2 py-2 align-items-center">
                                            <div class="col">
                                              <input class="form-control text-right" id="form-group7-2" type="text" value="5000" readonly>
                                            </div>
                                            <div class="col-auto"><span>公克 </span></div>
                                          </div>
                                        </div>
                                        <div class="form-group-group col-12 row no-gutters p-0" id="formGroup7">
                                          <div class="col-6 row no-gutters px-2 py-2 align-items-center">
                                            <div class="col row no-gutters px-2 py-0 align-items-center">
                                              <div class="col-auto"><span>3.</span></div>
                                              <div class="col">
                                                <input class="form-control" id="form-group7" type="text" value="粉頭" readonly>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-6 row no-gutters px-2 py-2 align-items-center">
                                            <div class="col">
                                              <input class="form-control text-right" id="form-group7-2" type="text" value="20000" readonly>
                                            </div>
                                            <div class="col-auto"><span>公克 </span></div>
                                          </div>
                                        </div>
                                        <div class="form-group-group col-12 row no-gutters p-0" id="formGroup7">
                                          <div class="col-6 row no-gutters px-2 py-2 align-items-center">
                                            <div class="col row no-gutters px-2 py-0 align-items-center">
                                              <div class="col-auto"><span>4.</span></div>
                                              <div class="col">
                                                <input class="form-control" id="form-group7" type="text" value="豆粕" readonly>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-6 row no-gutters px-2 py-2 align-items-center">
                                            <div class="col">
                                              <input class="form-control text-right" id="form-group7-2" type="text" value="1800" readonly>
                                            </div>
                                            <div class="col-auto"><span>公克 </span></div>
                                          </div>
                                        </div>
                                        <div class="form-group-group col-12 row no-gutters p-0" id="formGroup7">
                                          <div class="col-6 row no-gutters px-2 py-2 align-items-center">
                                            <div class="col row no-gutters px-2 py-0 align-items-center">
                                              <div class="col-auto"><span>5.</span></div>
                                              <div class="col">
                                                <input class="form-control" id="form-group7" type="text" value="碳酸鈣" readonly>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-6 row no-gutters px-2 py-2 align-items-center">
                                            <div class="col">
                                              <input class="form-control text-right" id="form-group7-2" type="text" value="500" readonly>
                                            </div>
                                            <div class="col-auto"><span>公克 </span></div>
                                          </div>
                                        </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-12 col-form-label text-left" for="form-group8">拌木屑濕度：</label>
                    <div class="form-group-group col-12 row no-gutters p-0">
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group8" type="text" value="65.02" readonly>
                        </div>
                        <div class="col-auto"><span>%</span></div>
                      </div>
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group8-2" type="text" value="65.14" readonly>
                        </div>
                        <div class="col-auto"><span>%</span></div>
                      </div>
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group8-3" type="text" value="65.08" readonly>
                        </div>
                        <div class="col-auto"><span>%</span></div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-12 col-form-label text-left" for="form-group9">拌木屑PH值：</label>
                    <div class="form-group-group col-12 row no-gutters p-0">
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group9" type="text" value="7.20" readonly>
                        </div>
                      </div>
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group9-2" type="text" value="7.13" readonly>
                        </div>
                      </div>
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-center" id="form-group9-3" type="text" value="7.21" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-auto p-0">
                      <label class="col-form-label" for="form-group10">木屑攪拌數</label>
                    </div>
                    <div class="form-group-group col row no-gutters p-0 border-0 align-items-center">
                      <div class="col border-0">
                        <input class="form-control text-center" id="form-group10" type="text" value="41" readonly>
                      </div>
                      <div class="col-auto border-0"><span>/</span></div>
                      <div class="col border-0">
                        <input class="form-control text-center" id="form-group10-2" type="text" value="258643" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-auto p-0">
                      <label class="col-form-label" for="form-group11">營養攪拌數</label>
                    </div>
                    <div class="form-group-group col row no-gutters p-0 border-0 align-items-center">
                      <div class="col border-0">
                        <input class="form-control text-center" id="form-group11" type="text" value="4" readonly>
                      </div>
                      <div class="col-auto border-0"><span>/</span></div>
                      <div class="col border-0">
                        <input class="form-control text-center" id="form-group11-2" type="text" value="710" readonly>
                      </div>
                      <div class="col-auto border-0"><span>/</span></div>
                      <div class="col border-0">
                        <input class="form-control text-center" id="form-group11-3" type="text" value="2907" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-auto p-0">
                      <label class="col-form-label" for="form-group12">水量攪拌數</label>
                    </div>
                    <div class="form-group-group col row no-gutters p-0 border-0 align-items-center">
                      <div class="col border-0">
                        <input class="form-control text-center" id="form-group12" type="text" value="41" readonly>
                      </div>
                      <div class="col-auto border-0"><span>/</span></div>
                      <div class="col border-0">
                        <input class="form-control text-center" id="form-group12-2" type="text" value="6378" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-auto col-form-label" for="form-group13">木屑入場時間</label>
                    <div class="col">
                      <input class="form-control" id="form-group2" type="text" value="11:43" readonly>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-12 col-form-label text-left" for="form-group14">包重：</label>
                    <div class="form-group-group col-12 row no-gutters p-0">
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-right" id="form-group14" type="text" value="1483" readonly>
                        </div>
                        <div class="col-auto"><span>公克</span></div>
                      </div>
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-right" id="form-group14-2" type="text" value="1488" readonly>
                        </div>
                        <div class="col-auto"><span>公克</span></div>
                      </div>
                      <div class="col-4 row no-gutters px-2 py-2 align-items-center">
                        <div class="col">
                          <input class="form-control text-right" id="form-group14-3" type="text" value="1490" readonly>
                        </div>
                        <div class="col-auto"><span>公克</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <div class="layui-footer" style="left: 0;"><a class="layui-btn" href="./stir.html" lay-filter="component-form-demo1">上一頁</a>
            <button class="layui-btn layui-btn-primary" type="submit">編輯</button>
          </div>
          <div class="layadmin-body-shade" layadmin-event="shade"></div>
        </div>
      </div>
      <script src="./static/layui/layui/layui.js"></script>
      <script>
        layui.config({
            base: './static/layui/' //静态资源所在路径
            }).extend({
            index: 'lib/index' //主入口模块
            }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
            var $ = layui.$
                , admin = layui.admin
                , form = layui.form
                , layer = layui.layer
                , laydate = layui.laydate
                , element = layui.element;
            form.render();
        
            laydate.render({
                elem: '#start_time',
                type: 'time'
            });
            laydate.render({
                elem: '#end_time',
                type: 'time'
            });
        
            form.on('select(log)', function (data) {
                location.href = './stir-log.html';
            });
            });
      </script>
    </form>
  </body>
</html>

compile/stir-log.pug
doctype html
html
    - var page_title = "攪拌裝填記錄表"
    head
        title= page_title
        include _head.pug
        style.
            /* 这段样式只是用于演示 */
            #LAY-component-grid-list .demo-list .layui-card {
                height: 267px;
            }
    body.layui-layout-body
        form.w-100.h-100(method="post" action="./stir-modify.html")
            #LAY_app.layadmin-tabspage-none
                .layui-layout.layui-layout-admin
                    //- 头部区域
                    include _header.pug

                    //- 主体内容
                    #LAY_app_body.layui-body(style="background: #daf0e7;")
                        .layadmin-tabsbody-item.layui-show
                            section.form-section
                                .form.my-2(style="max-width: 1000px; margin: auto;")
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group1") 日期
                                        .col
                                            input.form-control#form-group2(type="text" value="108年01月01日" readonly)
                                            //- select.form-control.p-0#form-group1(disabled)
                                            //-     option(value="")
                                            //-     option(value="1" selected) 108年01月01日
                                            //-     option(value="2") 108年02月02日
                                            //-     option(value="3") 108年03月03日
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group2") 天氣
                                        .col
                                            input.form-control#form-group2(type="text" value="晴天" readonly)
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group3") 溫溼度
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group3.form-control.text-center(type="text" value="23.5" readonly)
                                                .col-auto
                                                    span °C
                                            .col-auto.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    span /
                                            .col.border-0.row.no-gutters.px-2.py-0.align-items-center
                                                .col
                                                    input#form-group3-2.form-control.text-center(type="text" value="72.04" readonly)
                                                .col-auto
                                                    span %
                                    div.form-group.row
                                        label.col-12.col-form-label.text-left(for="form-group4") 木屑濕度：%
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group4.form-control.text-center(type="text" value="65.02" readonly)
                                                .col-auto
                                                    span %
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group4-2.form-control.text-center(type="text" value="65.08" readonly)
                                                .col-auto
                                                    span %
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group4-3.form-control.text-center(type="text" value="65.10" readonly)
                                                .col-auto
                                                    span %
                                    div.form-group.row
                                        label.col-12.col-form-label.text-left(for="form-group5") 木屑PH值：
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group5.form-control.text-center(type="text" value="7.20" readonly)
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group5-2.form-control.text-center(type="text" value="7.14" readonly)
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group5-3.form-control.text-center(type="text" value="7.08" readonly)
                                    div.form-group.row
                                        .col-6.row.no-gutters.p-0.align-items-center
                                            label.col-auto.col-form-label(for="form-group6") 水分
                                            .col
                                                input#form-group6.form-control.text-center(type="text" value="514" readonly)
                                        .col-6.row.no-gutters.p-0.align-items-center
                                            label.col-auto.col-form-label(for="form-group6-2") 養分
                                            .col
                                                input#form-group6-2.form-control.text-center(type="text" value="70" readonly)
                                    div.form-group.row
                                        .col-12.p-0.d-flex.justify-content-between.align-items-center
                                            label.col-form-label.border-right-0(for="form-group7") 添加劑：
                                            button.add-form-group-btn.ml-auto.mr-2.d-none(type="button" data-button="add-form-group" data-target="#formGroup7") 新增
                                        mixin formGroup7(no, text, gram)
                                            #formGroup7.form-group-group.col-12.row.no-gutters.p-0
                                                .col-6.row.no-gutters.px-2.py-2.align-items-center
                                                    .col.row.no-gutters.px-2.py-0.align-items-center
                                                        .col-auto
                                                            span= no
                                                        .col
                                                            input#form-group7.form-control(type="text" value= text readonly)
                                                .col-6.row.no-gutters.px-2.py-2.align-items-center
                                                    .col
                                                        input#form-group7-2.form-control.text-right(type="text" value= gram readonly)
                                                    .col-auto
                                                        span 公克 
                                        +formGroup7("1.", "米糠", "80000")
                                        +formGroup7("2.", "玉米粉", "5000")
                                        +formGroup7("3.", "粉頭", "20000")
                                        +formGroup7("4.", "豆粕", "1800")
                                        +formGroup7("5.", "碳酸鈣", "500")

                                    div.form-group.row
                                        label.col-12.col-form-label.text-left(for="form-group8") 拌木屑濕度：
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group8.form-control.text-center(type="text" value="65.02" readonly)
                                                .col-auto
                                                    span %
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group8-2.form-control.text-center(type="text" value="65.14" readonly)
                                                .col-auto
                                                    span %
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group8-3.form-control.text-center(type="text" value="65.08" readonly)
                                                .col-auto
                                                    span %
                                    div.form-group.row
                                        label.col-12.col-form-label.text-left(for="form-group9") 拌木屑PH值：
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group9.form-control.text-center(type="text" value="7.20" readonly)
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group9-2.form-control.text-center(type="text" value="7.13" readonly)
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group9-3.form-control.text-center(type="text" value="7.21" readonly)
                                    div.form-group.row
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group10") 木屑攪拌數
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group10.form-control.text-center(type="text" value="41" readonly)
                                            .col-auto.border-0
                                                span /
                                            .col.border-0
                                                input#form-group10-2.form-control.text-center(type="text" value="258643" readonly)
                                    div.form-group.row
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group11") 營養攪拌數
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group11.form-control.text-center(type="text" value="4" readonly)
                                            .col-auto.border-0
                                                span /
                                            .col.border-0
                                                input#form-group11-2.form-control.text-center(type="text" value="710" readonly)
                                            .col-auto.border-0
                                                span /
                                            .col.border-0
                                                input#form-group11-3.form-control.text-center(type="text" value="2907" readonly)
                                    div.form-group.row
                                        .col-auto.p-0
                                            label.col-form-label(for="form-group12") 水量攪拌數
                                        .form-group-group.col.row.no-gutters.p-0.border-0.align-items-center
                                            .col.border-0
                                                input#form-group12.form-control.text-center(type="text" value="41" readonly)
                                            .col-auto.border-0
                                                span /
                                            .col.border-0
                                                input#form-group12-2.form-control.text-center(type="text" value="6378" readonly)
                                    div.form-group.row
                                        label.col-auto.col-form-label(for="form-group13") 木屑入場時間
                                        .col
                                            input.form-control#form-group2(type="text" value="11:43" readonly)
                                            //- select.form-control.p-0#form-group13(disabled)
                                            //-     option(value="")
                                            //-     option(value="1" selected) 11:43
                                            //-     option(value="2") 12:00
                                            //-     option(value="3") 15:00
                                    div.form-group.row
                                        label.col-12.col-form-label.text-left(for="form-group14") 包重：
                                        .form-group-group.col-12.row.no-gutters.p-0
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group14.form-control.text-right(type="text" value="1483" readonly)
                                                .col-auto
                                                    span 公克
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group14-2.form-control.text-right(type="text" value="1488" readonly)
                                                .col-auto
                                                    span 公克
                                            .col-4.row.no-gutters.px-2.py-2.align-items-center
                                                .col
                                                    input#form-group14-3.form-control.text-right(type="text" value="1490" readonly)
                                                .col-auto
                                                    span 公克
                    .layui-footer(style='left: 0;')
                        a.layui-btn(href='./stir.html' lay-filter='component-form-demo1') 上一頁
                        button.layui-btn.layui-btn-primary(type='submit') 編輯
                    //- 辅助元素，一般用于移动设备下遮罩
                    .layadmin-body-shade(layadmin-event='shade')
            script(src='./static/layui/layui/layui.js')
            script.
                layui.config({
                    base: './static/layui/' //静态资源所在路径
                    }).extend({
                    index: 'lib/index' //主入口模块
                    }).use(['index', 'table', 'form', 'laydate', 'laytpl'], function () {
                    var $ = layui.$
                        , admin = layui.admin
                        , form = layui.form
                        , layer = layui.layer
                        , laydate = layui.laydate
                        , element = layui.element;
                    form.render();

                    laydate.render({
                        elem: '#start_time',
                        type: 'time'
                    });
                    laydate.render({
                        elem: '#end_time',
                        type: 'time'
                    });

                    form.on('select(log)', function (data) {
                        location.href = './stir-log.html';
                    });
                    });
